<link rel="stylesheet" href="/navbar.css">

<div class="main" >
  <a href="/__/allCareesPage">Careers</a>
  <a href="/">Main App</a>
  <a href="/__/add/career">Add Career</a>
  {{#if SUPER}} <a href="#">Add Admin</a> {{/if}}
</div>
