.cardwrapper {
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  border-width: thin;
  border-radius: 1rem;
}

.cardwrapper:last-child {
  box-shadow: 0 0.22rem 0.44rem rgba(0, 0, 0, 0.09),
    0 0.22rem 0.44rem rgba(0, 0, 0, 0.13);
}

.cardwrapper:first-child {
  box-shadow: 0 0.22rem 0.44rem rgba(0, 0, 0, 0.09),
    0 0.22rem 0.44rem rgba(0, 0, 0, 0.13);
}
