.radio {
  display: none;
}

.job-icon {
  font-size: 3rem;
  padding: 1rem;
}

.job-icon-label {
  color: #26a69a;
}

.icon-wrapper input[type='radio']:checked + label {
  color: #f06292;
}

.color-picker-label {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: inline-block;
  border: #fff 0.2rem solid;
  margin: 0.74rem;
}

.color-wrapper input[type='radio']:checked + label {
  border: #424242 0.2rem solid;
}

